<!doctype html>
<html>
<head>
    <title>{% block title %}Quiz Generator{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{asset('assets/jquery.mobile-1.4.5.min.css')}}">
    <script src="{{ asset('assets/jquery-1.11.3.min.js') }}"></script>
    <script src="{{ asset('assets/jquery.mobile-1.4.5.min.js') }}"></script>
    <style>
      table td, th {
           vertical-align: top
      }
      #logo-wrap {
        width: 100%;
        text-align: center;
      }
      #logo-wrap img {
          max-width: 100%;
          max-height: 150px;
      }
      #questions_table{
        table-layout: fixed;
      }
      #questions_table th:nth-child(1)
      {
        width: 8px;
      }
      #questions_table th:nth-child(2)
      {
        width: 75%;
      }
      #questions_table th:nth-child(3)
      {
        width: 20%;
      }
      .ui-table-columntoggle-btn
      {
        display: none;
      }
      .trunc
      {
        white-space: nowrap;
        width: 100%;                   /* IE6 needs any width */
        overflow: hidden;              /* "overflow" value must be different from  visible"*/
        -o-text-overflow: ellipsis;    /* Opera < 11*/
        text-overflow:    ellipsis;    /* IE, Safari (WebKit), Opera >= 11, FF > 6 */
      }
    </style>

</head>
<body>
    <div data-role="page" >

        <div data-role="header" data-theme="b">

            <h1>{{ block('title')}}</h1>
            <a href="{% block backlink %}{{path('main')}}{% endblock %}" data-icon="home" data-role="button"
            class="ui-btn-left ui-btn ui-shadow ui-btn-corner-all ui-btn-icon-left ui-btn-up-b"
            data-corners="true" data-shadow="true"
            data-iconshadow="true"
            data-wrapperels="span"
            data-theme="b">
            <span class="ui-btn-inner ui-btn-corner-all">
              <span class="ui-btn-text">{% block backtext %}Strona główna{% endblock %}</span>
              <span class="ui-icon ui-icon-home ui-icon-shadow">&nbsp;
              </span>
            </span></a>
        </div><!-- /header -->

        <div data-role="content" id="content">
            {% block body %}

          {% endblock %}
          {% block javascripts %}
          {% endblock %}
        </div><!-- /content -->

        <div data-role="footer" data-theme="b">
            <h4>Andrzej Piszczek (c) 2015. Uniwersytet Ekonomiczny w Krakowie</h4>
        </div><!-- /footer -->

    </div><!-- /page -->

    <script>
      $(document).bind("mobileinit", function(){
        $.mobile.foo = bar;
      });
    </script>
</body>
</html>
