{% extends '::base.html.twig' %}
{% set randomID = random() %}
{% macro widget_prototype(widget, remove_text) %}
    {% if widget.vars.prototype %}
        {% set form = widget.vars.prototype %}
        {% set name = widget.vars.prototype.vars.name %}
    {% else %}
        {% set form = widget %}
        {% set name = widget.vars.full_name %}
    {% endif %}
    <div style="color:red; display:none; width: 100%; text-align: center" class="questionError">
      Formularz jest niepoprawnie wypełniony!
    </div>
    {{ form_widget(form.title)}}
    <div  class="parent">
      {% for answer in form.answers %}
      <div style="width:100%; display: table">
        <div style="width:82%; display: table-cell" >
          {{ form_widget(answer.title) }}
        </div>
        <div style="width:18%; display: table-cell">
          {{ form_row(answer.correct) }}
        </div>
      </div>
      {% endfor %}
    </div>
    <div data-content="{{ name }}">
      <div style="display:table; width:100%">
        <a href="#" class="ui-btn ui-icon-delete ui-btn-icon-left" data-rel="back" style="display:table-cell; width:50%">Anuluj</a>
        <a
          href="#" class="ui-btn ui-icon-plus ui-btn-icon-left add-question"
          style="display:table-cell; width:50%"
          data-length="{{widget|length}}">Dodaj</a>
      </div>

      {#  {{ form_widget(form) }} #}
    </div>
{% endmacro %}

{% block title %}
  Dodaj własny quiz
{% endblock %}
{% block backtext %}
Powrót
{% endblock %}
{% block body -%}
    {{ form_start(form, {'attr': {'data-ajax':'false'}}) }}
    <div style="color:red; display:none; width: 100%; text-align: center" id="quiz-error">
      Dodaj przynajmniej jedno pytanie!
    </div>
    <div data-role="fieldcontain" class="ui-hide-label">
  	   <label for="username">Nazwa quizu:</label>
  	    {{ form_widget(form.title ) }}
        {{ form_errors(form.title) }}
    </div>

      {#}{% for question in form.questions %}
      <div style="width:100%; display: table">
        Pytanie {{ loop.index }}
      </div>
      <div style="display:none" id="invisible">
           {{ form_widget(question) }}
      </div>
    {% endfor %}#}
    <table data-role="table" id="questions_table" class="ui-body-d ui-shadow table-stripe ui-responsive" data-mode="columntoggle" >
     <thead>
       <tr class="ui-bar-d">
         <th>Nr</th>
         <th>Pytanie</th>
         <th></th>
       </tr>
     </thead>
     <tbody>
       <tr><td></td><td></td><td></td></tr>
     </tbody>
    </table>

      <a href="#quiz_modal{{randomID}}"
        data-rel="popup"
        data-position-to="window"
        data-role="button"
        data-inline="true"
        class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-plus ui-btn-icon-left ui-btn-a"
        data-transition="pop">Dodaj pytanie</a>
    <br/>
    <a href="./" data-role="button" data-inline="true">Anuluj</a>
    <a data-role="button" data-inline="true" data-theme="b" id="add-quiz">Dodaj quiz</a>
    {% do form.questions.setRendered %}


    {{ form_end(form) }}
    <div data-role="popup" id="quiz_modal{{randomID}}" data-theme="a" class="ui-corner-all">
            <div style="padding:10px 20px;" class="proto">
              {{_self.widget_prototype(form.questions)}}
            </div>
    </div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
var question_prototype = "";

function isValid(modal)
{
  var errorDIV = modal.find('div.questionError');
  var error = false;
  // jeśli któryś z inputów jest pusty
  modal.find('input').each(function(index, el) {
    ;
    if ($(el).val() == '')
    {
      if (errorDIV.is(':hidden'))
         errorDIV.slideDown("slow").delay(3000).slideUp("slow");

      error = true;
    }

  });
  // jeśli nie jest zaznaczona żadna odpowiedź jako prawidłowa
  if (modal.find('input:checked').length === 0)
  {
    if (errorDIV.is(':hidden'))
        errorDIV.show("slow").delay(3000).hide("slow");

     return false;
  }

  if (error)
    return false;

  return true;
}

$(document).on('pageinit pageshow', function(){
  var length = 0;

  $('#quiz_modal{{randomID}} .add-question:eq(0)').unbind('click').bind('click', function(event) {
      event.preventDefault();
      var protoModal = $('#quiz_modal{{randomID}} div.proto');

      if (isValid(protoModal) == false)
        return false;

      console.log(isValid(protoModal));
      // klonujemy prototyp
      quizPrototype = protoModal.clone(true);
      //ustaw id dla prototypu
      if (length == 0)
          length = $(this).data('length');

      length = length + 1;

      quizPrototype.find('input').each(function(index, el) {
        var protoName = $(el).attr('name');
        $(el).prop('id', '');
        $(el).prop('name', protoName.replace(/__name__/g, length));
      });

      row = $('<tr id="r_'+length+'"></tr>');
      id = $('<td></td>').append(length);
      href="#quiz_modal{{randomID}}"



      title = $('<td class="trunc"></td>').append(quizPrototype.find('input[name*=title]:eq(0)').val());
      actions = $('<div data-role="controlgroup" data-type="horizontal" data-mini="true" class="ui-controlgroup ui-controlgroup-horizontal ui-corner-all ui-mini" style="margin:0px">'+
                  '<div class="">'+
                  //'<a href="#p_'+length+'" data-position-to="window" class="ui-btn ui-corner-all ui-icon-gear ui-btn-icon-notext ui-first-child question-edit"'+
                  //' data-rel="popup" data-role="button" style="display:table-cell;padding:3px" ></a>'+
                  '<a href="#" data-row="r_'+length+'"class="ui-btn ui-corner-all ui-icon-delete ui-btn-icon-notext ui-last-child question-delete" style="display:table-cell;padding:3px"></a>'+
                  '</div></div>');

      action = $('<td></td>');
      action.append(actions);

      newPopup = $('<div style="display:none;"></div>')
      newPopup.append(quizPrototype);
      action.append(newPopup);
      console.log(newPopup);
      row.append(id);
      row.append(title);
      row.append(action);

      $('#questions_table > tbody').append(row);

      //$('#rest').append(quizPrototype);
      $("#quiz_modal{{randomID}}").popup('close');


      //protoModal.popup('close');
  });

  /*$(document).on('click','.btn-remove', function(event) {
      var name = $(this).attr('data-related');
      $('*[data-content="'+name+'"]').remove();
      return false;
  });*/

   $('#quiz_modal{{randomID}}').popup({
    afterclose: function( event, ui ) {
      $('#quiz_modal{{randomID}} input:not(:checkbox)').each(function(index, el) {
        $(el).val('');

      });
    }
  });

  $(document).on('click', '.question-delete', function(){
      $('#'+$(this).data('row')).remove();
  });

  $('#add-quiz').unbind('click').bind('click', function(){

    if (length === 0)
    {
      if ($('#quiz-error').is(':hidden'))
      {

        $('#quiz-error').slideDown("slow").delay(3000).slideUp("slow");
      }
    }else{

      $('form').submit();
    }

  });
  $(document).on('change', 'input:checkbox', function(){


    var id = $(this).attr('id');
    var parent = $(this).closest('.parent');

    parent.find('input:checkbox:not(input[id="'+id+'"])').prop('checked', false).checkboxradio("refresh");

  });

});
</script>
{% endblock %}
