{% extends '::base.html.twig' %}

{% block body -%}
<style>
.quiz_properties td, th{
  text-align: left;
}
</style>
    <h1>Quiz</h1>

    <table class="quiz_properties">
        <tbody>
            <tr>
                <th>Numer</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Tytuł</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Utworzony</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Link do quizu</th>
                <td>{{ entity.link }}</td>
            </tr>
            <tr>
                <th>Ilość pytań</th>
                <td>{{ entity.questions|length }}</td>
            </tr>
        </tbody>
    </table>
    <a href="./" data-role="button" data-inline="true">Anuluj</a>
    <a href="" data-role="button" data-inline="true" data-theme="b" >Rozwiąż Quiz</button>
{% endblock %}
